In [21]:
import pandas as pd
df=pd.read_csv('weather_data112.csv',parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [7]:
type(df.day[2])

pandas._libs.tslibs.timestamps.Timestamp

In [12]:
#using dictionaries as to fill nan values
#new=df.fillna({
   # 'temperature':4,
    #'windspeed':2.4,
    #'event': 'no events'
#})
#new

In [14]:
#using bfill,ffill,their limits and axis
#new=df.fillna(method="bfill",limit=2)
#new
#if we use axis=column it takes the right column value and replaces in nan

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         28.0        9.0   Sunny
2 2017-01-05         28.0        7.0    Snow
3 2017-01-06         32.0        7.0    Rain
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08         34.0        8.0   Sunny
6 2017-01-09         34.0        8.0  Cloudy
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [23]:
#using linear interpolation to guess the nan method. usually it goes with linear interpolation but we can use other interpolation methods also

new=df.interpolate()
new

         day  temperature  windspeed   event
0 2017-01-01    32.000000       6.00    Rain
1 2017-01-04    30.000000       9.00   Sunny
2 2017-01-05    28.000000       8.00    Snow
3 2017-01-06    30.000000       7.00     NaN
4 2017-01-07    32.000000       7.25    Rain
5 2017-01-08    32.666667       7.50   Sunny
6 2017-01-09    33.333333       7.75     NaN
7 2017-01-10    34.000000       8.00  Cloudy
8 2017-01-11    40.000000      12.00   Sunny

In [ ]:
#for dropping just use df.dropna() it drops all nan columns
#if u use new=df.dropna(how=all) it drops only the columns which have 0 values. if it doesnt even 1 value its dropped
#if u use new=df.dropna(thresh=1) min value should be 1 atleast. or else theyll be removed.
#if u use new=df.dropna(axis=1) the column having nan values will be dropped